@media (max-width: 940px) {
  .main__h2--article {
    font-size: 30px;
  }
}

@media (max-width: 850px) {
  .header__div--busqueda {
    display: none;
  }
}

@media (max-width: 760px) {
  .main__h2--article {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .header__div--logo {
    display: none;
  }
  .header__nav {
    display: flex;
    margin-left: auto;
  }
}

@media (max-width: 635px) {
  .main__h2--article {
    font-size: 19px;
  }

  .divisiones__div__redes {
    display: flex;
  }
}
